[Unit]
Description=frpc service
After=network.target syslog.target
Wants=network.target network-online.target
[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=./frpc -c ./frpc.ini
WorkingDirectory=/home/pi/P2PAgent/frp    
[Install]
WantedBy=multi-user.target