[Unit]
Description=frps service
After=network.target syslog.target
Wants=network.target network-online.target
[Service]
Type=simple
ExecStart=./frps -c ./frps.ini
WorkingDirectory=/home/pi/P2PAgent/frp    
[Install]
WantedBy=multi-user.target